@model Department
@{
    //Layout = "_Layout2";
    ViewBag.Title = "Department Details";
}
    <div class="container" style="min-height: 75vh;">
        <div class="row g-0">
            <div class="card m-auto mt-5" style="width: 18rem;min-height: 300px;">
              <div class="card-body">
                <h5 class="card-title">Dept Name: @Model.Name</h5>
                <p class="card-text">Department Capacity: @Model.Capacity</p>
                <p class="card-text">Department Id: @Model.DeptId</p>

                <a asp-action="Index" class="btn btn-primary" style="margin:50px 10px;">Back To List</a>
          </div>
        </div>
       </div>
    </div>
    

